body {
    background-color: rgba(43, 27, 18, 1);
    color: white;
}

.header {
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px;
    border-bottom: 10px solid #d4af37;
    border: 2px solid rgb(226, 215, 215);
}

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(75,45,25,0.9);
}

main {
    width: 100%;
    padding-top: 1;
}
.nav ul {
    padding: 10px;
    margin: 20px;
}


h1 {
    color: #d4af37;
    font-size: 4rem;
    padding: 10px;
    text-align: center;
}

h2 {
    color: #bfa048;
    font-size: 2.5rem;
    padding: 10px;
}

h3 {
    color: #f7f1e5;
    font-size: 2rem;
    padding: 10px;
}

p {
    color: #f2e6cf;
    font-size: 1.3rem;
    padding: 10px;
}

section {
    padding: 1rem;
    margin: 1rem;
    margin-bottom: 70px;
    animation: fadeIn 1s ease-in forwards;
}

.deuses-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.deus-card {
    display: flex;
    flex-direction: column;
    background: rgba(75,45,25,0.9);
    border: solid 3px;
    border-radius: 8px;
    padding: 25px;
    transition: 0.5s;
    text-align: center;

}

.deus-card:hover {
    box-shadow: 0px 0px 15px #bfa048;
}

.deus-card img {
    border-radius: 1rem;
    object-fit: cover;
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    border: 2px solid rgb(226, 215, 215);
}

.modal{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.7);
}

.close {
    display: flex;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2rem;
    font-weight: bold;
    color: black;
    cursor: pointer;

}

.modal-content {
    background: rgba(75,45,25,1);
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    position: relative;
}

.modal-btn {
    display: flex;
    background: #ecd484;
    cursor: pointer;
    border-radius: 1rem;
    padding: 0.6rem 1.2rem;
}

.modal-btn:hover {
    box-shadow: 0px 0px 10px #f0bf1d;
}
